    <div  class="grid">
        <div *ngIf="isCommercant()||isSadmin()||isAdmin()" class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div *ngIf="isCommercant()" >
                        <span class="block text-500 font-medium mb-3">Clients</span>
                        <div class="text-900 font-medium text-xl">{{commercant.clients}} Clients</div>
                    </div>
                    <div *ngIf="isSadmin()" >
                        <span class="block text-500 font-medium mb-3">Clients</span>
                        <div class="text-900 font-medium text-xl">{{sadmin.nbClients}} Sociétés </div>
                    </div>
                    <div *ngIf="isAdmin()" >
                        <span class="block text-500 font-medium mb-3">Clients</span>
                        <div class="text-900 font-medium text-xl">{{admin.nbClients}} Clients </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100  border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-orange-500  text-xl"></i>
                    </div>
                </div>
                <span class="text-orange-500 font-medium">En suspens</span>
                <span class="text-500">en cours</span>
            </div>
        </div>
        <div *ngIf="isSadmin()|| isAdmin()" class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div *ngIf="isSadmin()">
                        <span  class="block text-500 font-medium mb-3">Demande d'abonnement</span>
                        <div class="text-900 font-medium text-xl">{{sadmin.nbAdmins}} Partenaires</div>
                    </div>
                    <div *ngIf="isAdmin()">
                        <span class="block text-500 font-medium mb-3">Clients Vérifiée</span>
                        <div class="text-900 font-medium text-xl">{{clientsverifie}} Partenaires</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-green-500 text-xl"></i>
                    </div>
                </div>
                <span  class="text-green-500 font-medium">Validé </span>
                <span class="text-500">partenaires</span>
            </div>
        </div>
       
        <div *ngIf="isClient()"  class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div  >
                        <span class="block text-500 font-medium mb-3">Date d'expiration</span>
                        <div class="text-900 font-medium text-xl">{{Client.dateExpiration[2]}}/{{Client.dateExpiration[1]}}/{{Client.dateExpiration[0]}}
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100  border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-orange-500  text-xl"></i>
                    </div>
                </div>
                <span class="text-orange-500 font-medium">Test</span>
                <span class="text-500">il vous reste que quelques jours</span>
            </div>
        </div>
        <div *ngIf="isCommercant()" class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div >
                        <span class="block text-500 font-medium mb-3">Clients Validés</span>
                        <div class="text-900 font-medium text-xl">{{commercant.admins}} Sociétés</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span  class="text-green-500 font-medium">Validé</span>
                <span class="text-500">partenaires</span>
            </div>
        </div>
        <div *ngIf="isAdmin()" class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">
                          Montant à payer</span>
                        <div class="text-900 font-medium text-xl">{{admin.apayer}} DT</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span  class="text-blue-500 font-medium">par mois </span>
                <span class="text-500">27/06/2023</span>
            </div>
        </div>
        <div *ngIf="isAdmin()"  class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div  >
                        <span class="block text-500 font-medium mb-3">Commerçants</span>
                        <div class="text-900 font-medium text-xl">{{nbCommercant}} Commerçants
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100  border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user text-purple-500  text-xl"></i>
                    </div>
                </div>
                <span class="text-purple-500 font-medium">Commerce</span>
                <span class="text-500">Apporteur d'affaire</span>
            </div>
        </div>
       
        <div *ngIf="isSadmin()"  class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <!--
                    <div  *ngIf="isCommercant()" >
                        <span class="block text-500 font-medium mb-3">Chiffre d'affaire de la société  </span>
                        <div class="text-900 font-medium text-xl">{{commercant.revenu}} DT</div>
                    </div>-->
                    <div>
                        <span class="block text-500 font-medium mb-3">Chiffre d'affaire</span>
                        <div class="text-900 font-medium text-xl">{{sadmin.revenu}} DT</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-purple-500 font-medium">Revenu généré</span>
                <span class="text-500">En dinar tunisien</span>
            </div>
        </div>
        <div *ngIf="isCommercant()||isSadmin()"  class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div *ngIf="isCommercant()">
                        <span class="block text-500 font-medium mb-3">Commission totale</span>
                        <div class="text-900 font-medium text-xl">{{commercant.commission}} DT</div>
                    </div>
                    <div *ngIf="isSadmin()">
                        <span class="block text-500 font-medium mb-3">Revenu Net</span>
                        <div class="text-900 font-medium text-xl">{{sadmin.revenuNet}} DT</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-calculator text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-blue-500 font-medium">Revenu généré </span>
                <span class="text-500">En dinar tunisien</span>
            </div>
        </div>
        <div *ngIf="isSadmin()||isAdmin()" class="card col-12 lg:col-12 xl:col-12">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
            </div>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none" *ngFor="let historique of historiques">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-green-500"></i>
                    </div>
                    <span class="text-900 line-height-3">
                <span class="text-700">{{historique.message}}</span>
            </span>
            </ul>
        </div>
        
     <!--  <div class="col-8 xl:col-12">
            <div class="card">
                <h5>Chiffre d'affaire</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>--> 

         <!--   <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your product.</span></span>
                    </li>
                </ul>
            </div>

            <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
           <div>
               <div class="text-blue-100 font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
               <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
           </div>
           <div class="mt-4 mr-auto md:mt-0 md:mr-0">
               <a target="_blank" href="https://www.primefaces.org/primeblocks-ng" class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                   Get Started
               </a>
           </div>
        </div>
    </div>-->
</div>

