.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 200px; /* Remplacer 200px par la taille désirée */
    height: 100px; /* Remplacer 100px par la taille désirée */
  }
  
  .invoice-info {
    text-align: right;
  }
  
  .client-info {
    margin-bottom: 30px;
  }
  
  .client-info h2 {
    margin-bottom: 10px;
  }
  
  .invoice-details {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoice-details th,
  .invoice-details td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
  }
  
  .invoice-details th {
    background-color: #2b7dca;
    color: white;
  }
  
  .invoice-details tfoot tr td:first-child {
    text-align: right;
  }
  
  .invoice-details tfoot tr td:last-child {
    font-weight: bold;
  }
  
  @media print {
    .container {
      border: none;
    }
  }