<body>
    <div class="container">
      <div class="invoice-header">
          <img style="height: 180px; height: 180px;" src="assets/layout/images/windlogo.jpg" alt="Logo">
        
        <div class="invoice-info">
          <p>Facture n° : {{facture.reference}}</p>
          <p>Date : {{facture.dateFacture[2]}}/{{facture.dateFacture[1]}}/{{facture.dateFacture[0]}}</p>
        </div>
      </div>
      <div class="client-info">
        <h2>Client</h2>
        <p>Nom : {{admin.firstname}} {{admin.lastname}} </p>
        <p>société : {{admin.company}}</p>
        <p>Adresse : {{admin.adresse}}</p>
        <p>Ville : {{admin.ville}}</p>
        <p>Matricule Fiscal : {{admin.matricule}}</p>

      </div>
      <table class="invoice-details">
        <thead>
          <tr>
            <th >Référence</th>
            <th>Designation</th>
            <th>Quantité</th>
            <th>Prix U.HT</th>
            <th>Total HT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempuser of modules">
            <td>{{tempuser.reference}}</td>
            <td>{{tempuser.nom}}</td>
            <td>1</td>
            <td>{{tempuser.prix}} DT</td>
            <td>{{tempuser.prix}} DT</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Total HT :</td>
            <td>{{admin.apayer}} DT</td>
          </tr>
          <tr>
            <td colspan="4">TVA :</td>
            <td>{{facture.tva}}%</td>
          </tr>
          <tr>
            <td colspan="4">Total TTC :</td>
            <td>{{facture.ttc}} DT</td>
          </tr>
        </tfoot>
      </table>
      <br><br><br>
      <div class="client-info">
        <h6 style="  font-weight: bold;">Arrétées la présente facture à la somme de:</h6>
        <p>{{facture.totalLettre}}</p>
        <h6 style="  font-weight: bold;">Modalité de payement</h6>
        <p>Par CHEQ</p>
      </div>
    </div>
  </body>