<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="account-user-avatar">
                        <img src="assets/layout/images/User-Avatar-Profile-Free-PNG.png" height="100px" width="100px" style="margin-left: 20px; " alt="user-image" class="rounded-circle">
                    </span>
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenue sur WIND-ERP</div>
                    <span class="text-600 font-medium">Inscrivez vous !</span>
                </div>
                <form >
                
                    <input type="text"  id="firstname" name="firstname" [(ngModel)]="client.firstname" required placeholder="Nom " pInputText class="w-full  md:w-30rem  mb-5" style="padding:1rem ; margin-right: 20px; ">

                    <input type="text" id="lastname"  name="lastname" [(ngModel)]="client.lastname"  placeholder="Prénom" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>


                    <input type="text"  id="email" name="email" [(ngModel)]="client.email"  placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem ; margin-right: 20px;">
                    <input type="text"  id="telephone" name="telephone" [(ngModel)]="client.telephone" placeholder="telephone" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem ; margin-right: 20px;">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>

                    <input type="text"  id="company" name="company" [(ngModel)]="client.company"  placeholder="Entreprise" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem ; margin-right: 20px;">

                    <input  type="text"  id="domain" name="domain" [(ngModel)]="client.domain"  placeholder="Secteur de l'entreprise" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>

                    <input id="adresse" type="text"  name="adresse" [(ngModel)]="client.adresse" placeholder="Adresse" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem ; margin-right: 20px;">

                    <input id="ville" type="text"  name="ville" [(ngModel)]="client.ville"  placeholder="Ville" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>
                    <input id="Pays" type="text"  name="Pays" [(ngModel)]="client.pays"  placeholder="Pays" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem ; margin-right: 20px;">
                    <input type="text"  id="nbEmployer" name="nbEmployer" [(ngModel)]="client.nbEmployer"  placeholder="Nombre des employées" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="logo" class="block text-900 text-xl font-medium mb-2">Logo de l'entreprise 
                        <br>
                        <br>
                        <input class="form-control" id="formFileSm" pInputText name="logo" [(ngModel)]="client.logo" type="file"  required  onchange="console.log(event.target.files)" (change)="onSelectedImage($event)" >
                        <br>
                        <!--  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" [maxFileSize]="1000000" onchange="console.log(event.target.files)"></p-fileUpload>-->
                    </label>
                   
                    <button pButton pRipple label="Envoyer" class="w-full p-3 text-xl" style="color: white; margin-top: 20px;" (click)="saveClient($event)" ></button>
            </form>
            </div>
        </div>
    </div>
</div>

