<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast>                        
            </p-toast>
            <p-toolbar styleClass="mb-4">
                <h1 class="m-10" style="margin-right: 550px;" >Liste des commerçants</h1>
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    <!--    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
                    </div>
                </ng-template>

               <!--<ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>--> 
            </p-toolbar>

            <p-table #dt [value]="commercants" [columns]="cols" responsiveLayout="scroll" [rows]="8" [globalFilterFields]="['firstname','lastname','email','ville']" [rows]="4" [paginator]="true" [rowsPerPageOptions]="[4,8,12]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                   <!-- <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Image</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th></th>
                    </tr>-->
                    <tr>
                      <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>--> 
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Commission</th>
                        <th>CompteA/D</th>
                        <th *ngIf="isSadmin()"></th>
                        <th></th>
                        <th></th>            
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-commercant>
                   <!-- <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{product.price | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.category}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded  p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr> -->
                    <tr>
                      <!-- <td>
                            <p-tableCheckbox [value]="commercant"></p-tableCheckbox>
                        </td>--> 
                        <td><img class="fit-picture"
                            [src]="'http://localhost:8098/api/v1/auth/files/' + commercant.image" height="40px" width="40px"  alt="user-image" class="rounded-circle"   alt="image"></td>
                        <td>{{ commercant.firstname}}</td>
                        <td>{{ commercant.lastname}}</td>
                        <td>{{ commercant.email}}</td>
                        <td>{{ commercant.telephone}}</td>
                        <td>{{ commercant.adresse}}</td>
                        <td>{{ commercant.ville}}</td>
                        <td>{{ commercant.pays}}</td>
                        <td>{{ commercant.pourcentage}} %</td>
                        <td>
                            <label  style="margin-top: 10px; margin-left: 10px;" class="switch" >
                                <p-inputSwitch (click)="updateenabled(commercant.id)" *ngIf="!commercant.enabled ; else enabled" ></p-inputSwitch>
                                <ng-template #enabled>
                                  <p-inputSwitch (click)="updatenotenabled(commercant.id)"   [(ngModel)]="checked"></p-inputSwitch>
                              </ng-template>
                          </label>
                        </td>
                       
                        <td *ngIf="isSadmin()">
                            <div class="example-button-container">
                                <button  *ngIf="!commercant.enabled ; else disabled"  pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success mr-2" style="margin-left: 10px;" (click)="openvalidation(commercant)"  ></button>
                                <ng-template #disabled>
                                <button  pButton pRipple disabled="true" icon="pi pi-check"  class="p-button-rounded p-button-success mr-2" style="margin-left: 10px;" ></button>
                                </ng-template>
                            </div>    
                        </td>
                        <td><button pButton style="margin-left: -38px;" pRipple  icon="pi pi-pencil" class="p-button-rounded p-button-warning " (click)="editProduct(commercant)"></button>
                        </td>
                        <td><button pButton style="margin-left: -20px;" pRipple icon="pi pi-trash" class="p-button-rounded  p-button-danger" (click)="deleteProduct(commercant)"></button>
                        </td>
                    </tr>
                    <p-dialog [(visible)]="Dialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span *ngIf="commercant">Etes-vous sûr que vous voulez valider le compte de  <b>{{name}}</b>?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="Dialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="validationcompte(id)"></button>
                        </ng-template>
                    </p-dialog>
                    <p-dialog [(visible)]="deleteProductDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span *ngIf="product">Etes-vous sûr que vous voulez supprimer <b>{{name}}</b>?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="onDeletcommercant(id)"></button>
                        </ng-template>
                    </p-dialog>
                    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span>Are you sure you want to delete selected commercant?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductsDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
                        </ng-template>
                    </p-dialog>
                </ng-template>
            </p-table>
        </div>
        <!-- add-->
        <p-dialog [(visible)]="DialogAdd" [style]="{width: '600px'}" header="Ajouter Commercant" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="firstname">Nom</label>
                    <input type="text" pInputText id="firstname" name="firstname" [(ngModel)]="commercant.firstname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.firstname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.firstname">firstname is required.</small>
                </div>
                <div class="field">
                    <label for="lastname">Prénom</label>
                    <input type="text" pInputText id="lastname"  name="lastname" [(ngModel)]="commercant.lastname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.lastname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.lastname">lastname is required.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" name="email" [(ngModel)]="commercant.email"  required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.email">email is required.</small>
                </div>
                <div class="field">
                    <label for="telephone">Télephone</label>
                    <input type="text" pInputText id="telephone" name="telephone" [(ngModel)]="commercant.telephone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.telephone}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.telephone">telephone is required.</small>
                </div> <div class="field">
                    <label for="adresse">Adresse</label>
                    <input type="text" pInputText id="adresse" name="adresse" [(ngModel)]="commercant.adresse" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.adresse}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.adresse">adresse is adresse.</small>
                </div> <div class="field">
                    <label for="ville">Ville</label>
                    <input type="text" pInputText id="ville" name="ville" [(ngModel)]="commercant.ville" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.ville}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.ville">ville is required.</small>
                </div> 
                <div class="field">
                    <label for="pays">Pays</label>
                    <input type="text" pInputText id="pays" name="pays" [(ngModel)]="commercant.pays" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.pays}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.pays">pays is required.</small>
                </div> 
            <div class="field">
                <label for="pourcentage">Commisssion(%)</label>
                <input type="number" pInputText id="pourcentage" name="pourcentage" [(ngModel)]="commercant.pourcentage" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.pourcentage}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.pourcentage">ville is required.</small>
            </div> 
            <div class="field">
                <label for="image">Image</label>
                <input class="form-control" id="formFileSm" pInputText name="image" [(ngModel)]="commercant.image" type="file" required  onchange="console.log(event.target.files)" (change)="onSelectedImage($event)" >
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.image">image is required.</small>
            </div> 
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="isAdmin(); else Sadmin " pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveCommercant($event)"></button>
                <ng-template #Sadmin>
                <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveCommercantsadmin($event)"></button>
                </ng-template>
            </ng-template>
        </p-dialog>

<!--update-->
        <p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Changer Commercant" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'http://localhost:8098/api/v1/auth/files/' + commercant.image" [alt]="commercant.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="commercant.image">
                <div class="field">
                    <label for="firstname">Nom</label>
                    <input type="text" pInputText id="firstname" name="firstname" [(ngModel)]="commercant.firstname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.firstname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.firstname">firstname is required.</small>
                </div>
                <div class="field">
                    <label for="lastname">Prénom</label>
                    <input type="text" pInputText id="lastname"  name="lastname" [(ngModel)]="commercant.lastname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.lastname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.lastname">lastname is required.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" name="email" [(ngModel)]="commercant.email"  required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.email">email is required.</small>
                </div>
                <div class="field">
                    <label for="telephone">Télephone</label>
                    <input type="text" pInputText id="telephone" name="telephone" [(ngModel)]="commercant.telephone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.telephone}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.telephone">telephone is required.</small>
                </div> <div class="field">
                    <label for="adresse">Adresse</label>
                    <input type="text" pInputText id="adresse" name="adresse" [(ngModel)]="commercant.adresse" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.adresse}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.adresse">adresse is adresse.</small>
                </div> <div class="field">
                    <label for="ville">Ville</label>
                    <input type="text" pInputText id="ville" name="ville" [(ngModel)]="commercant.ville" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.ville}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.ville">ville is required.</small>
                </div> 
                <div class="field">
                    <label for="pays">Pays</label>
                    <input type="text" pInputText id="pays" name="pays" [(ngModel)]="commercant.pays"required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.pays}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.pays">pays is required.</small>
                </div> 
                <div class="field">
                    <label for="pourcentage">Commisssion(%)</label>
                    <input type="number" pInputText id="pourcentage" name="pourcentage" [(ngModel)]="commercant.pourcentage" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !commercant.pourcentage}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.pourcentage">pourcentage is required.</small>
                </div> 
            <div class="field">
                <label for="image">Image</label>
                <input class="form-control" id="formFileSm" [(ngModel)]="commercant.image" type="file"  required  onchange="console.log(event.target.files)" (change)="onSelectedImage($event)" >
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !commercant.image">image is required.</small>
            </div> 
                <!--<div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="status">Inventory Status</label>
                    <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label class="mb-3">Category</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category1">Accessories</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category2">Clothing</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category3">Electronics</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category4">Fitness</label>
                        </div>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                    </div>
                </div>-->
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="isAdmin(); else Sadmin " pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="update($event)" ></button>
                <ng-template #Sadmin>

                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="updatesadmin($event)" ></button>
                </ng-template>

            </ng-template>
        </p-dialog>
        
       

       
    </div>
</div>
