<!--<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Empty Page</h4>
            <p>This is your empty page template to start building beautiful applications.</p>
        </div>
    </div>
</div>-->
<div id="content">
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 style="margin-top: 50px; text-align: center; ">CONTRAT DE TRAVAIL</h1>
            <br><br>
                <p style="line-height: 200%;font-size:large; " ><strong>{{admin.company}}</strong>, sise à {{admin.adresse}}, {{admin.ville}} 5100, immatriculée au registre Tunis sous le numéro :
                    <strong> B1612212017 </strong> ayant pour identifiant fiscal le <strong> n°{{admin.matricule}}</strong> et représentée par son gérant<strong> Mr {{admin.firstname}} {{admin.lastname}}</strong>.<br>
                    Ci-après dénommée <strong> « Le Commerçant » </strong>, D’une part Et
                    Mr/Mme <strong> {{commercant.firstname}} {{commercant.lastname}}</strong>.
                    Demeurant à {{commercant.adresse}}. – {{commercant.ville}}.  Ci-après dénommée 
                    « Le commerçant » d’autre part.<br>
                    Elle a été arrêté et convenu ce qui suit :
                </p>
        </div>
    </div>
   
</div>

<div class="card">
    <p-fieldset legend="Article 1" [toggleable]="true" class="line-height-3 m-0">
     <p   style="font-size:large;">   Mr/Mme <strong> {{commercant.firstname}} {{commercant.lastname}}</strong> est engagé(e) par <strong>{{admin.company}}</strong> pour exercer les fonctions d’un <strong>Commerçant</strong>, 
        à ce titre, il/elle s’engage pendant toute la durée du présent contrat à :<br>
     a)	Observer en tout lieu et tout temps la plus grande discrétion tant sur ses activités que sur celles de la société. 
    Cet engagement est valable pendant toute la durée du contrat et subsiste après cessation des activités auprès de <strong> {{admin.company}}</strong>.<br>
     b)	Veiller à la bonne conservation des choses qui lui sont remises dans le 
     cadre de son travail et ne rien faire qui puisse entraîner leur détérioration. <br>
     c)	Conserver en tout lieu et temps le secret professionnel de toutes les informations ou connaissances 
   acquises par l’employée pendant ou à l'occasion des travaux effectués, 
     l’observation du secret professionnel demeure valable même après fin du contrat. <br></p>

    </p-fieldset>
    <p-fieldset legend="Article 2" [toggleable]="true" class="line-height-3 m-0" style="font-size: large; ">
        <p  style="font-size:large;"> Le présent contrat est conclu pour une durée indéterminée,
             débutant le <strong> {{commercant.dateCreation[2]}}/{{commercant.dateCreation[1]}}/{{commercant.dateCreation[0]}} </strong> avec une période d’essai d’un seul mois..</p>

    </p-fieldset>
    <p-fieldset legend="Article 3" [toggleable]="true" class="line-height-3 m-0" style="font-size: large; ">
        <p   style="font-size:large;">  Mr/Mme <strong> {{commercant.firstname}} {{commercant.lastname}}</strong> recevra en contre partie de ses fonctions
             une commission sous forme de pourcentage : <strong>{{commercant.pourcentage}} % </strong> , calculé sur le chiffre d’affaires généré par 
             la mise en relation entre <strong>{{admin.company}}</strong> et le client démarché. </p>

    </p-fieldset>
    <p-fieldset legend="Article 4" [toggleable]="true" class="line-height-3 m-0" style="font-size: large; ">
        <p  style="font-size:large;"> Mr/Mme <strong> {{commercant.firstname}} {{commercant.lastname}}</strong> reste libre d'effectuer pour son propre compte ou pour le compte d'autrui des opérations commerciales si ses derniéres
             ne concurencent pas diréctement ou indirectement les produits ou les prestations du services de notre sosciété <strong>{{admin.company}}</strong>.</p>

    </p-fieldset>
    <p-fieldset legend="Article 5" [toggleable]="true" class="line-height-3 m-0" style="font-size: large; ">
        <p  style="font-size:large;"> Pour l’exécution du présent contrat de travail, les parties font chacune élection de domicile en leur demeure respective telle qu’indiquées ci-dessus.
        <br>
         Fait en trois exemplaires.</p>

    </p-fieldset>
    <div style="text-align:end;">
        <br>
   <!-- <img src="assets/layout/images/windlogo.jpg" style=" width: min-content; height: min-content;  " alt="image">-->
    <img [src]="'http://localhost:8098/api/v1/auth/files/' + admin.logo" style=" width: 150px; height: 150px;" alt="image">

    <br>
</div>
</div>
</div>
<br>
<button style="margin-bottom: 20px;" pButton icon="pi pi-download" pRipple type="button" label="télécharger contrat" class="p-button-secondary" (click)="generarPDF()" ></button>


   

