<!--<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Empty Page</h4>
            <p>This is your empty page template to start building beautiful applications.</p>
        </div>
    </div>
</div>-->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 style="margin-top: 50px; margin-left: 500px;">CONTRAT DE TRAVAIL</h1>
            <p-toolbar>
              

               
            </p-toolbar>
        </div>
    </div>